<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Detalle del pedido</ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of productos" lines="inset">
      <ion-label>{{ item.count }}x {{ item.titulo }} - {{ item.precio | currency:'USD':'symbol' }}</ion-label>
      <ion-label slot="end" text-right>{{ (item.precio * item.count) | currency:'USD':'symbol' }}</ion-label>
    </ion-item>
    <ion-item>
      Total: <span slot="end">{{ total | currency:'USD':'symbol' }}</span>
    </ion-item>
    <ion-item *ngIf="latLng">
      Nueva dirección: <span slot="end" >{{ latLng.direccion}}</span>
    </ion-item>
  </ion-list>
  <button ion-button  color="primary" (click)="pedir()">Pedir</button>
  <button ion-button  color="primary" (click)="addDireccion()">Modificar dirección</button>
</ion-content>